:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #a091b4;
    --primary-color: #040813;
    --secondary-color: #050910;
    --inverted-primary-color: #10273b;
    --inverted-secondary-color: #049604;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;
}
